# Dart / Flutter
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Example ephemeral
example/.dart_tool/
example/build/
example/ios/Pods/
example/ios/.symlinks/
example/ios/Flutter/ephemeral/
example/android/.gradle/

# Android plugin build
android/.gradle/
android/build/
